[Core]
DisableLogging=false
Filter="%Severity% >= trace"

# Console
[Sinks.console]
Filter="%Severity% > trace "
Destination=Console
Format="[%TimeStamp%] [%Severity%] [%Channel%] %Message%"
Asynchronous=false
AutoFlush=true

# Trace,
[Sinks.trace]
Filter="%Severity% = trace"
Destination=TextFile
Format="[%TimeStamp%] [%Severity%] %Message%"
Asynchronous=false
AutoFlush=true
RotationSize= 31457280
FileName="./log/trace_%03N.log"

# Debug,
[Sinks.debug]
Filter="%Severity% = debug"
Destination=TextFile
Format="[%TimeStamp%] [%Severity%] [%Channel%] %Message%"
Asynchronous=false
AutoFlush=true
RotationTimePoint="01:00:00"
FileName="./log/debug_%Y%m%d_%H%M%S.log"

# Info,
[Sinks.info]
Filter="%Severity% = info"
Destination=TextFile
Format="[%TimeStamp%] [%Severity%] [%Channel%] %Message%"
Asynchronous=false
AutoFlush=true
RotationTimePoint="01:00:00"
FileName="./log/info_%Y%m%d_%H%M%S.log"

# Warning,
[Sinks.warning]
Filter="%Severity% = warning"
Destination=TextFile
Format="[%TimeStamp%] [%Severity%] [%Channel%] %Message%"
Asynchronous=false
AutoFlush=true
RotationTimePoint="01:00:00"
FileName="./log/warning_%Y%m%d_%H%M%S.log"

# Error,
[Sinks.error]
Filter="%Severity% = error"
Destination=TextFile
Format="[%TimeStamp%] [%Severity%] [%Channel%] %Message%"
Asynchronous=false
AutoFlush=true
RotationTimePoint="01:00:00"
FileName="./log/error_%Y%m%d_%H%M%S.log"

# Fatal
[Sinks.fatal]
Filter="%Severity% = fatal"
Destination=TextFile
Format="[%TimeStamp%] [%Severity%] [%Channel%] %Message%"
Asynchronous=true
AutoFlush=true
RotationTimePoint="01:00:00"
FileName="./log/fatal_%Y%m%d_%H%M%S.log"
